<html>
    <head>
        <title>Add Employee</title>
    </head>
    <body>
        <form method="post">
            <fieldset>
                <legend>Add Employee</legend>
                <h1>Profile</h1>
                <table>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" name="name" ></td>    
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td><input type="text" name="phone" ></td>
                    </tr>
                    <tr>
                        <td>Adress:</td>
                        <td><input type="text" name="adress"></td>
                    </tr>
                     <tr>
                        <td>Gender:</td>
                        <td>
                            <select name="gender">
                                <option value=""></option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="others">Others</option>
                            </select>
                        </td>
                    </tr>
                     <tr>
                        <td>Designation:</td>
                        <td>
                            <select name="designation">
                                <option value=""></option>
                                <option value="engineer">Engineer</option>
                                <option value="assistant">Assistant</option>
                                <option value="manager">Manager</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" name="update" value="submit"></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </body>
</html>