<html>
    <head>
        <title>Admin</title>
    </head>
    <body>
        <form method="post">
            <fieldset>
                <legend>Admin Panel</legend>
                <table>
                    <tr>
                        <td><input type="button" name="addEmployee" value="Add Employee"></td>
                        <td><input type="button" name="allEmployee" value="See all Employee"></td>
                    </tr>

                </table>
            </fieldset>
        </form>
    </body>
</html>