<html>
    <head>
        <title>Employee</title>
    </head>
    <body>
        <form method="post">
            <fieldset>
                <legend>Welcome Employee</legend>
                <table>

                    <tr>
                        <form method="post">
                            <td><input type="submit" name="choice" value="MyProfile"></td>
                            <td><input type="button" name="choice" value="UpdateProfile"></td>    
                        </form>
                    </tr>
                    
                </table>
            </fieldset>
        </form>
    </body>
</html>