<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form method="post">
            <fieldset>
                <legend>Welcome Employee</legend>
                <table>

                    <tr>
                        <form method="post">
                            <td><input type="button" name="myProfile" value="My Profile"></td>
                            <td><input type="button" name="update" value="Update Profile"></td>    
                        </form>
                    </tr>
                    
                </table>
            </fieldset>
        </form>
    </body>
</html>