<html>
    <head>
        <title><%=name%></title>
    </head>
    <body>
        <fieldset>
            <legend>Welcome Employee</legend>
            <h1>Profile</h1>
           <table>
                <tr>
                    <td>Name:</td>
                    <td><%=name%></td>    
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><%=phone%></td>    
                </tr>
                <tr>
                    <td>Designation:</td>
                    <td><%=designation%></td>    
                </tr>
            </table>
        </fieldset>
    </body>
</html>